{% extends 'Backoffice/home.html' %}
{% load crispy_forms_tags %}


{% block mainfeed %}
<div class="container">
  <div class="row" style="margin-top:50px;">
    <div class="col">
      <h1 class="text-center">{{ title }}</h1>
      {% if patient %}
        <h2 class="text-center">{{ patient }}</h2>
      {% endif %}
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="row">
          <div class="col text-center">
            <button type="submit" class="btn btn-success " style="width:50%;">Aceptar</button>
          </div>
        </div>    </form>
      {% endblock %}
    </div>
  </div>
</div>
